/* https://stackoverflow.com/questions/38428322/react-component-full-screen-with-height-100 */
body, html {
  height: 100%;
}
#__next {
  flex-grow: 1;
}
body {
  background-color: orangered;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.color-primary {
  background-color: orangered;
  border-color: orangered; /**/
  color: white;
}
.color-light {
  background-color: lightgrey;
  border-color: lightgrey; /**/
  color: black;
}
.color-dark {
  background-color: darkred;
  border-color: darkred; /**/
  color: white;
}