/* https://stackoverflow.com/questions/38428322/react-component-full-screen-with-height-100 */
html, body, #__next {
  height: 100%;
}
body {
  background-color: orangered;
  color: white;
  margin: 0;
}
.color-primary {
  background-color: orangered;
  border-color: orangered; /**/
  color: white;
}
.color-light {
  background-color: lightgrey;
  border-color: lightgrey; /**/
  color: black;
}
.color-dark {
  background-color: darkred;
  border-color: darkred; /**/
  color: white;
}